body {
  padding: 0;
  margin: 10vh 0 0 0;
  color: white;
  background-color: #2c283f;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 35vw;
  border-radius: 15px;
  border: 2pt solid rgb(6, 176, 179);
  box-shadow: 0 2pt 2pt rgba(0, 0, 0, 0.334);
  background-color: transparent;
  position: relative;
}

.box::before {
  content: '';
  width: 46px;
  height: 46px;
  background-image: url('absolute-img-decorative/leaf-top.png');
  background-repeat: no-repeat;
  background-size: 46px 46px;
  position: absolute;
  top: -26px;
  right: -20px;
  display: inline-block;
}

h3 {
  font-weight: bold;
  background: linear-gradient(30deg, #1e9fef, #0be080);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputbar {
  width: 95%;
}

.inputbar:focus {
  box-shadow: 0 0 0 3px #1e9fef;
  border: 1pt solid rgb(8, 81, 254);
}


