.left-container {
  animation: leftcontainerTranslation 0.55s ease-in-out;
}

@keyframes leftcontainerTranslation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  } 

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-container {
  animation: rightcontainerTranslation 0.55s ease-in-out;
}

@keyframes rightcontainerTranslation {
  from {
    transform: translateX(300%);
    opacity: 0;
  } 

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.intro-title {
  animation: fromTopTransition 0.4s 0.6s forwards;
  transform: scaleX(0);
}

@keyframes fromTopTransition {
  from {
    opacity: 0;
    transform: translateY(-65px);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
    transform: translateY(0);
  }
}